$animation-duration: 100s;

// Start game styles
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
}

body {
  padding: 3px;
  text-align: center;
  background-color: black;
  color: #3FFF46;
  
  section {
    border: 2px solid white;
    width: 100%;
    height: 70vh;
    max-height: 70vh;
    max-width: 600px;
    padding: 5px 10% 5px 5px;
    text-align: justify;
    position: relative;
    overflow: hidden;
  
    
    span {
      display: inline-block;
      margin-right: 10px;
    }
  }

  .space-invader {
    background-size: contain;
    width: 100%;
    background-color: black;
    color: #3FFF46;
  }

  .player-ship {
    background-color: black;
    color: #3FFF46;
  }

  // Animations for moving words across and down
  @keyframes padding-sides {
    from {
      padding-left: 5px;
      padding-right: 10%;
    }
    to {
      padding-left: 10%;
      padding-right: 5px;
    }
  }

  @keyframes padding-grow {
    from {
      padding-top: 5px;
    }
    to {
      padding-top: calc(100% - 20px);
    }
  }

  .move-words-down {
    animation-name: padding-sides, padding-grow;
    animation-duration: calc(#{$animation-duration} / 12), $animation-duration;
    animation-timing-function: steps(8), steps(100);
    animation-fill-mode: both, both;
    animation-iteration-count: 12, 24;
    animation-direction: alternate, normal;
  }

  // Animation for typed words
  .delete {
    color: red;
  }

  // Game over classes
  @keyframes end-game {
    from {
      transform: scale(0, 0);
    }
    to {
      transform: scale(1, 1);
    }
  }

  .end-game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
  }

  .end-game, 
  .round-score {
    animation-name: end-game;    
    text-transform: uppercase;
    animation-timing-function: steps(16);
    animation-duration: 1s;
    line-height: 1.5em;
  }

  .end-game {
    font-size: 50px;
  }

  .round-score {
    font-size: 30px;
  }
}