$animation-duration: 100s;

// Start game styles
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
}

body {
  padding: 3px;
  text-align: center;
  background-color: black;
  color: #3FFF46;
  
  section {
    border: 2px solid white;
    width: 100%;
    height: 80vh;
    text-align: justify;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;

    @media screen and (min-width: 900px) {
      width: 900px;
    }
  
    // Containers for space invader and words
    div {
      display: flex;
      flex-direction: column;
      height: 40px;

      @media screen and (min-width: 600px) {
        height: 60px;
      }
    }
   
    // Animate laser
    @keyframes laser {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    svg {
      position: absolute;
      width: 100%;
      height: calc(100% - 43px);
      left: 0;
      top: 0;

      line {
        animation-name: laser;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
      }
    }

    span {
      margin-right: 5px;
      margin-left: 5px;
      color: white;
      font-size: 0.8em;

      @media screen and (min-width: 600px) {
        font-size: 1em;
      }
    }
  }

  // Space invaders
  .space-invader-down {
    width: 45px;
    border: 0px solid white;
    background-size: contain;
  }

  // TODO: Check colour
  #player-ship {
    width: 40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width: 600px) {
      width: 70px;
    }
  }

  // Animations for moving words across and down
  @keyframes padding-sides {
    from {
      padding-left: 0;
      padding-right: 10%;
    }
    to {
      padding-left: 10%;
      padding-right: 0;
    }
  }

  @keyframes padding-grow {
    from {
      padding-top: 5px;
    }
    to {
      padding-top: calc(100% - 20px);
    }
  }

  .move-words-down {
    animation-name: padding-sides, padding-grow;
    animation-duration: calc(#{$animation-duration} / 12), $animation-duration;
    animation-timing-function: steps(8), steps(12);
    // animation-fill-mode: both, both;
    animation-iteration-count: 12, 24;
    animation-direction: alternate, normal;
  }

  // Animation for deleting words and invaders
  @keyframes delete {
    0% {
      opacity: 1; 
      background-color: red;
    }
    100% {
      opacity: 0;
    }
  }

  .delete {
    animation-name: delete;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
    z-index: 10;
  }

  // Game over classes
  @keyframes end-game {
    from {
      transform: scale(0, 0);
    }
    to {
      transform: scale(1, 1);
    }
  }

  .end-game-container {
    align-content: center;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
  }

  .end-game, 
  .round-score {
    animation-name: end-game;    
    text-transform: uppercase;
    animation-timing-function: steps(16);
    animation-duration: 1s;
    line-height: 1.5em;
  }

  .end-game {
    font-size: 50px;
  }

  .round-score {
    font-size: 30px;
  }
}